{% extends "base.html" %}
{% block title %}
  О кинотеатре
{% endblock %}
{% block content %}
  <div class="container py-5">                        
    <h1>О кинотеатре</h1>
    <p>
      «Кинескоп» — это современный кинотеатр, открытый в 2015 году в городе Энск. 
      Он предлагает насладиться просмотром фильмов в высочайшем качестве, включая формат IMAX.
    </p>
    <p>
      «Кинескоп» расположен в удобном месте, где каждый посетитель сможет легко добраться до него. 
      Внутри кинотеатра вас ждут комфортные кресла, которые позволят полностью погрузиться в атмосферу кино. 
      В «Кинескопе» регулярно проходят премьеры фильмов, а также показы эксклюзивных лент, доступных только здесь. 
      Вы сможете выбрать фильм на любой вкус: от комедий до драм и боевиков. 
      Кроме того, в кинотеатре есть несколько залов, оборудованных по последнему слову техники. 
      В них вы сможете насладиться потрясающим звуком и изображением, которое не оставит равнодушным даже самого искушённого зрителя. 
    </p>
    <p>
      «Кинескоп» — это идеальное место для отдыха и развлечений, где каждый найдёт что-то своё. 
    </p>           
  </div>
{% endblock %}