{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
  {{ movie.title }}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1 class="pb-2 mb-0">{{ movie.title }}</h1>
    <div class="row mt-3">
      <div class="col-12 col-md-6 mb-3">
        <img 
          class="img-fluid card-img-top"
          src="{{ movie.poster.url }}"
          style="object-fit: contain; height: 700px;"
        >      
      </div>  
      <div class="col mt-3">
        <div class="col-12 col-md-6">
          <h3>Жанр</h3>
          <div class="badge bg-dark text-wrap" style="width: 8rem;">
            {{ movie.genre }}
          </div>      
        </div>
        <div>
          <h3>Описание</h3>
          <h5>{{ movie.description }}</h5>      
        </div>
        <h3>Сеансы</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            {% for session in sessions %}
              <a class="btn btn-outline-dark" href="{% url 'cinema:session_detail' session.id %}" role="button">{{ session.datetime }}</a>
            {% endfor %}
        </div>  
      </div>
    </div>
  </div>
{% endblock %}