{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
  Афиша
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Афиша</h1>
    <div class='row'>                        
      {% for movie in movies %}
      <div class="col-6 col-md-4 my-1">
        <div class="card">
          <img 
            class="img-fluid card-img-top"
            src="{{ movie.poster.url }}"
            style="object-fit: contain; height: 400px;"
          >
          <div class="card-body">           
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">
              Жанр: {{ movie.genre.title }}
            </p>
            <p class="card-text">
              Продолжительность: {{ movie.duration|time:"H:i" }}
            </p>
            <p class="card-text">
              {{ movie.description|truncatewords:20 }}
            </p>
            <a class="btn btn-outline-dark btn-lg" href="{% url 'cinema:movie_detail' movie.id %}" role="button">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>                
  </div>
{% endblock %}
